var data = {
  title: "test title",
  description: "test description",

  list: [
    { name: 'name-1', score: 10 },
    { name: 'name-2', score: 20 },
    { name: 'name-3', score: 30 }
  ]
};

var template1 = [
  "<p>{%- title %}</p>",
  "<p>{%- description %}</p>",
  '<ul class="cf">',
  "{% _.each(list, function(val, i) { %}",
    "<li>",
      "No.{%- i + 1 %}<br />",
      "name:  {%- val.name %}<br />",
      "score: {%- val.score %}<br />",
    "</li>",
  "{% }) %}",
  "</ul>"
].join("");

var compiled = _.template(template1);

var data3 = <%= raw @data2.to_json %>

<%#  $("#result").append(compiled(data3));   %>
<%#  $("#result").append("<%= @data2 %\>");   %>

$("#result").append(compiled(data3));
